<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../.././stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs'); %>
    <main class="centro">
      <div class="bienvenido">
        <h1>welcome!!!</h1>
      </div>
      <form action="">
      <div class="registro">
          <h1>registrate aqui</h1>
          <input type="text" class="inpust" placeholder="nombre">
          <input type="text" class="inpust" placeholder="apellido">
          <input type="number" class="inpust" placeholder="cedula" value="0" min="0" max="32700000" > 
          <select name="" id="" class="inpust">
            <option value="" selected disabled >semestre actual</option>
            <option value="">semestre 1</option>
            <option value="">semestre 2</option>
            <option value="">semestre 3</option>
            <option value="">semestre 4</option>
            <option value="">semestre 5</option>
            <option value="">semestre 6</option>
            <option value="">semestre 7</option>
            <option value="">semestre 8</option>
            <option value="">semestre 9</option>
            <option value="">semestre 10</option>
          </select>
          <input type="password" class="inpust" placeholder="contraseña">
          <p>Estoy de acuerdo con <a href="/TerminosCondiciones" class="a">Termino y Condiciones</a></p>
          <button class="botones"> enviar</button>
          <p><a href="/inicio" class="a">¿ya tienes una cuenta ?</a></p>
          </form>
      </div>
    </form>
  </main>
  <%- include('../partials/footer.ejs'); %>
  </body>
</html>
