<!DOCTYPE html>
<html>
  <head>
    <title>Página Principal</title>
    <link rel="stylesheet" href="../.././stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs'); %>
      <p>Página Principal</p>
    <%- include('../partials/footer.ejs'); %>
  </body>
</html>
