<!DOCTYPE html>
<html>
  <head>
    <title>Página Principal</title>
    <link rel="stylesheet" href="../.././stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs'); %>
    <main class="centro">
      <div class="bienvenido">
        <h1>welcome!!!</h1>
      </div>
      <form method="POST">
        <div class="registro">
          <h1>Registrate aquí</h1>
          <input type="text" name="name" class="inpust" placeholder="nombre" required/>
          <input
            type="text"
            name="lastname"
            class="inpust"
            placeholder="apellido"
            required
          />
          <input
            type="email"
            name="email"
            class="inpust"
            placeholder="correo"
            required
          />
          <!-- Hay que pedir el tipo de documento -->
          <input
            type="number"
            name="id"
            class="inpust"
            placeholder="cedula"
            value="0"
            min="0"
            max="32700000"
            required
          />
          <select name="semestre" class="inpust" required>
            <option value="" selected disabled>semestre actual</option>
            <option value="first">Primer Semestre</option>
            <option value="second">Segundo Semestre</option>
            <option value="third">Tercer Semestre</option>
            <option value="fourth">Cuarto Semestre</option>
            <option value="fifth">Quinto Semestre</option>
            <option value="sixth">Sexto Semestre</option>
            <option value="seventh">Séptimo Semestre</option>
            <option value="eight">Octavo Semestre</option>
            <option value="nineth">Noveno Semestre</option>
            <option value="tenth">Décimo Semestre</option>
          </select>
          <input
            type="password"
            name="password"
            class="inpust"
            placeholder="contraseña"
            required
          />
          <p class="pa">
            Estoy de acuerdo con
            <a href="/register/terminos_Condiciones" class="a"
              >Termino y Condiciones</a
            >
          </p>
          <button type="submit" class="botones">enviar</button>
          <p class="pa">
            <a href="/session" class="a">¿Ya tienes una cuenta ?</a>
          </p>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs'); %>
  </body>
</html>
