<footer class="parteDeAbajo">
<div class="columna">
<a href="/TerminosCondiciones" class="a">terminos y condiciones</a>
<a href="/inicio" class="a" > inicia sesion</a>
</div>
  <div class="columna">
    <p>creadores: </p>
    <p> alejandro hernandez</p>
    <p> eduardo hurtado </p>
  </div>
    <div class="columna">
    <p>Venezuela libre </p>
    <img src="../.././venezuleaBandera.svg" class="imagenFooter">
    </div>
</footer>
