<footer class="parteDeAbajo">
<div class="columna">
<a href="" class="a">terminos y condiciones</a>
<h3>aaaaaa</h3>
</div>
<div class="columna">
  <a href="" class="a">terminos y condiciones</a>
  <h3>aaaaaa</h3>
  </div>
    <div class="columna">
    <a href="" class="a">terminos y condiciones</a>
    <h3>aaaaaa</h3>
</div>
</footer>
