<header class="encabezado">
  <div class="encabezados logo">
    <img src="../.././flux-svgrepo-com.svg" alt="" class="imagen">
    <h1>ultimate dace</h1>
  </div>
  <div class="encabezados Centro">
    <button class="boton__centro">inicio</button>
    <button class="boton__centro">registro</button>
  </div>
</header>
