<header class="encabezado">
  <div class="encabezados logo">
    <img src="../.././image/flux-svgrepo-com.svg" alt="" class="imagen">
    <h1>ultimate dace</h1>
  </div>
  <div class="encabezados Centro">
    <a href="/inicio"><button class="boton__centro"> inicio</button></a>
    <a href="/"><button class="boton__centro">registro</button></a> 
  </div>
</header>
